recursive-include src/sustech_survival/resources *
recursive-include src/sustech_survival/references *.md
recursive-include src/sustech_survival/docs *.md
recursive-include src/sustech_survival *.typed
global-exclude __pycache__
global-exclude *.pyc
global-exclude *.pyo
global-exclude .pytest_cache
global-exclude .DS_Store
exclude credentials.txt
exclude **/session.json
exclude **/.cache
